language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
script:
  - if [[ $TRAVIS_PYTHON_VERSION != '3.6' ]]; then py.test; fi 
  - if [[ $TRAVIS_PYTHON_VERSION == '3.6' ]]; then pytest; fi
